package layout

templ Row() {
    <div class="row">
        {children...}
    </div>
}

templ Column() {
    <div class="column">
        {children...}
    </div>
}

templ Sidebar() {
    <div class="sidebar">
        {children...}
    </div>
}