
.row {
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.sidebar {
    flex: 20%;
    width: 20%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.column {
    flex: 80%;
    width: 80%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}