package main

import (
    "github.com/ocuroot/ui/components/buttons"
)

var red string = "#ff0000"

css header() {
    color: { red };
}

templ Showcase() {
    @ShowcaseLayout("showcase", "UI Showcase", "This is a showcase of the UI components.") {
            <div id="buttons">
                <h2>Button Components</h2>
                @buttons.Button() {
                    Button
                }
            </div>
    }
}