package components

import "strings"

func addClasses(defaults string, classes []string) string {
	if len(classes) > 0 {
		return defaults + " " + strings.Join(classes, " ")
	}
	return defaults
}

templ Card(class ...string) {
	<div class={ addClasses("card", class) }>
		{ children... }
	</div>
}
